<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

<listeners>
    <listener class-name="utils.SuiteListener"></listener>
</listeners>
    <test thread-count="5" verbose="2" preserve-order="true" name="C:/Users/avish/IdeaProjects/SeleniumFramework">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="qa.test.Testcase1"><methods><include name="run"/></methods></class>
        </classes>
    </test>
</suite>